
  <!--Footer-->
  <div class="footer"> 
  <footer class="cotent">  
   
   <div class="social w3-row">
      <ul>  
        <li><%-social("twitter")%></li>  
        <li><%-social("facebook")%></li>  
        <li><%-social("linkedin")%></li>   
      </ul> 
    </div>
    
    <div class="bottom w3-row-padding">
      <img class="w3-col l1 " src="/images/general/ACTIVAGE_IoT.png">
      <div class="w3-col l6">
        <div class="text">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 732679</div>
      </div>
      <div class="rights w3-col l5" >&copy; <%= date(new Date(), 'YYYY') %> ACTIVAGE. All rights reserved.</div>
    </div>
  
   </footer>  
   </div>