     <!-- Slideshow -->
     <div class="slider w3-display-container "> 
      <img class="slider-img w3-animate-opacity w3-image" src="/images/general/slider/1_Internet_of_things.jpg">
      <img class="slider-img w3-animate-opacity w3-image" src="/images/general/slider/2_Active_and_healthy_ageing.jpg">
      <img class="slider-img w3-animate-opacity w3-image" src="/images/general/slider/3_Information_and_communication_technology.jpg">
      <div class="w3-display-middle" style="width:95%">
       <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
       <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
      </div>
     </div>